.container.auth {
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;

}

.form {
	color: white;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
}

.form.signUp{
	background-color: rgb(243,167,59);
}

.form.signIn{
	background-color: rgb(92,102,213);
}

.form input{
	margin: 1vw;
	text-align: center;
	font-size: 1.5vw;
	width: 20vw;
	height: 3vw;
}

.form button {
	margin-top: 10px;
	border-radius: 10px;
	font-size: 1.5vw;
	width: 100%;
}


