.container.gallery {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	/*justify-items: center;*/
	margin-top: 3vw;
	grid-gap: 3vw;
	text-align: center;
}

.borderGallery {

	border: dashed cornflowerblue;
}

.container.gallery button{
	margin: 1vw;
	font-size: 1.2vw;
	border-radius: 10px;
	background-color: rgb(243,167,59);

}



