.container.gallery {
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	/*justify-items: center;*/
	margin-top: 3vw;
	text-align: center;
}

.borderGallery {

	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-color: rgb(92,102,213);
}

.container.gallery button{
	margin: 1vw;
	font-size: 1.2vw;
	border-radius: 10px;
	background-color: rgb(243,167,59);

}

.inline{
	display: inline;
}

.inline li {
	margin-left: 1vw;
	display: inline;
	font-size: 2.5vw;
}


