.container {
	display: grid;
}

header{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

main {
	margin-top: 4vw;
	margin-bottom: 5vw;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-top: 10vw;
	background-color: rgb(28,29,32);
	color: white;
	text-align: center;
}
